*{   Se sabe que el selector universal "*" es lento.
    margin: 0;
    padding: 0;
    webkit-box-sizin
}
    

.titulo{
    font-size: xx-large;
    display: flex;
    background: black;
    color: white;
    padding: 40px;
    align-items: center;
    justify-content: center;
    width: 141%;
   
}

.contenedorgrid{
    width: 143%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
    background: aquamarine;
    color: black;
}

.itemgrig{
width: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.contenedor-informacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
     
